@import "tailwindcss";

@theme {
  --font-sans: 'Montserrat', sans-serif;
  --color-appBg: #0f172a;
  --color-cardBg: #1e293b;
  --color-accentGreen: #10b981;
  --color-textPrimary: #f8fafc;
  --color-textSecondary: #94a3b8;
}

body {
  background-color: var(--color-appBg);
  color: var(--color-textPrimary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
